name: Topics Metrics

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight UTC
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_topics: yes
          plugin_topics_mode: labels         # Options: labels, icons, starred, mastered
          plugin_topics_sort: stars          # Options: stars, activity, starred, random
          plugin_topics_limit: 20            # Max 20; 0 disables
